<div class="row">
	<div class="col-12">
		<%= link_to '//logout//', logout_path %>
		<br></br>
		<h2 style="display:inline;">Welcome ♠ <%= @user.first_name %> ♠ Please Create a New Post:</h2>
		<br></br>
		<%= form_for [@user, @post], html: {id: "new_post", :multipart => true} do |f| %>
				<%= f.label :title%><br>
			    <%= f.text_field :title, id: 'new_post_title' %><br></br>
			    <%= f.label "Image" %><br>
			    <%= f.file_field :file, class: 'form-control-file', type: 'file'%><br></br>
			   	<%= f.label :body%><br>
			    <%= f.text_area :body, id: 'new_post_body' %><br><br>
				<%= f.submit "Submit", class: 'btn btn-outline-secondary collapsed' %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-12">	
		<h3 style="margin-bottom: -10px; margin-top: 30px;">Most Recent Posts:</h3>
		<ul id="user_posts" reversed> 
			<% @posts.order('created_at DESC').take(5).each do |p| %>
				<li class="user_posts_li">
					<h3 style="display: inline;"><%= p.title %></h3> 
					<%= link_to 'EDIT', edit_user_post_path(@user, p) %>
					<%= link_to 'DELETE', user_post_path(@user, p), :method => :delete %>
					<p><%= p.body %></p>
					<% if Rails.env == 'development' %>
						<%= image_tag root_url + p.file_url, class: 'img-fluid' %>
					<% else %>
						<%= image_tag p.file_url, class: 'img-fluid' %>
					<% end %>
				</li> 
			<% end %>
		</ul>
	</div>
</div>