<!DOCTYPE html>
<html>
  <head>
    <title>TransBeautyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <meta name="description" content="Trans Beauty Shop specializes in providing electrolysis for permanent hair removal, makeup lessons, and beauty tips to transgender women in Philadelphia and NYC. Owned and operated by a transgender woman and licensed electrologist and using only the best makeup brands – we are serious about your transition!">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70098445-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-70098445-3');
    </script>
  </head>

  <body>
    <div class="container">

      <div class="row">
        <div class="col-12 text-center"><h1><a href="/">TRANS BEAUTY SHOP <%= image_tag('symbol.png', height: '50')%></a></h1></div>
        <div class="col-6"><h2>PHILADELPHIA AND NYC</h2></div><div class="col-6"><h2>ELECTROLYSIS AND MAKEUP</h2></div>
      </div><br>

      <ul class="nav nav-justified">

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Services
        </a>
        <div class="dropdown-menu" aria-labelledby="Preview">
        <a class="dropdown-item" href="/services#electrolysis-service">Electrolysis</a>
        <a class="dropdown-item" href="/services#makeup-service">Makeup and Cosultation</a>
        <a class="dropdown-item" href="/services#waxing-service">Waxing</a>
        </div>

        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        FAQs
        </a>
        <div class="dropdown-menu" aria-labelledby="Preview">
        <a class="dropdown-item" href="/faqs#electrolysis">Electrolysis Facts</a>
        <a class="dropdown-item" href="/faqs#transhair">Trans Women Hair Removal FAQs</a>
        </div>
        </li>

      </ul>

    <%= yield %>

      <div class="row footer">
        <div class="col-6">
          <h3>Contact</h3>
          <p>Tel: <a href="tel:1-267-225-7275"><span style="color: #7edfea">+1 (267) 225-7275</span></a><br>
          <a href="/contact"><span style="color: #7edfea">Contact Form</span></a> to e-mail us.</p>
        </div>
        <div class="col-6">
          <h3>Address</h3>
          <p>1315 Walnut St. Suite #717<br>
          Philadelphia, PA 19107</p>
        </div>
      </div>
    </div>
  </body>
</html>
